.about-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-left: 40px;
  padding-right: 40px;
  text-align: left;
  font-size: large;
}

.about-container h1, h2 {
  text-align: center;
}

#our-team {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  flex-direction: row;
  font-size: small;
  text-align: center;
}

#our-team .profile {
  margin: auto;
}

#our-team img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 15%;
  margin: 10px;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
}

.gradient-bg-about {
  background-image: 
    radial-gradient(at 0% 0%, hsla(253,16%,7%,1) 0, transparent 50%), 
    radial-gradient(at 50% 0%, hsla(225,39%,30%,1) 0, transparent 50%), 
    radial-gradient(at 100% 0%, hsla(147, 59%, 16%, 1) 0, transparent 50%);
  background-repeat: no-repeat;
}
