.placeholder-container {
  height: 100%;
  display: grid;
  place-items: center;
}

.placeholder {
  font-size: 2rem;
  color: white;
}

.gradient-bg-areas {
  background-image: 
    radial-gradient(at 0% 0%, hsla(253,16%,7%,1) 0, transparent 50%), 
    radial-gradient(at 50% 100%, hsla(225,39%,25%,1) 0, transparent 50%);
  background-repeat: no-repeat;
}