@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --primary-color: #E94917;
  --secondary-color: #FAFAFA;
  --text-color: #000000;
  --accent-color: #FFA726;
  --font-family: 'Inter', sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  color: var(--text-color);
  background-color: var(--secondary-color);
  overflow-x: hidden;
}

#vanta-bg {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -1;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: var(--primary-color);
}

.logo {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
}

.logo-img {
  max-width: 50px;
}

.logo-text {
  margin-left: 10px;
  font-size: 1.5rem;
  font-weight: 600;
}

.nav-link {
  color: white;
  font-size: 1rem;
  margin: 0 10px;
  text-decoration: none;
}

.toggle-btn {
  display: none;
}

.hero {
  display: flex;
  padding: 50px 40px;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.1);
}

.left {
  max-width: 600px;
}

.hero-title {
  font-size: 2rem;
  color: var(--primary-color);
}

.hero-description, .hero-link {
  color: var(--text-color);
  font-size: 1rem;
}

.hero-link a {
  color: var(--primary-color);
}

.panel-img {
  max-width: 300px;
}

.info-sections {
  display: flex;
  justify-content: space-around;
  padding: 50px;
  background-color: rgba(255, 255, 255, 0.1);
}

.card {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  box-shadow: 0px 4px 12px rgba(255, 115, 1, 0.4);
}

.card h2 {
  color: var(--primary-color);
}

.card a {
  color: var(--accent-color);
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  background-color: var(--primary-color);
  color: white;
}
