@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;900&family=Open+Sans:wght@300;400;500;700&display=swap');
@import url(css/reset.css);

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --primary-text-color: white;
  --accent-color: #089ccc;
  --secondary-color: #02E3E0;
  --tertiary-color: #0270E3;
  --bg-color: #23153c;
  --box-shadow: 0 0 0.5rem rgba(255, 255, 255, 0.1);
  --bezier: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  --ff: "Inter";
  font-size: 0.75rem;
  color-scheme: dark;
}

html {
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  font-family: var(--ff);
  min-height: 100vh;
  overflow-x: hidden;
}

/* Vanta (animated background) */
canvas {
  position: fixed !important;
}

#vanta-target {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -1;
}

/* Main */
.main-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
}

/* Header and Navigation */
header {
  backdrop-filter: blur(1rem);
  display: flex;
  padding: 1rem 2rem;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

header .logo {
  display: flex;
  align-items: center;
  font-size: 2.5rem;
  color: var(--primary-text-color);
  text-decoration: none;
}

header .logo span {
  margin-left: 1rem;
  font-size: 2.15rem;
  font-weight: 600;
  position: relative;
  left: 100%;
  animation: moveRight 1000ms ease-in-out forwards, fadeIn 1000ms ease-in-out forwards;
  animation-delay: 100ms;
}

header .logo img {
  width: 5rem;
  height: 5rem;
}

/* move all those buttons from left to right */
nav a:nth-child(1) {
  position: relative;
  right: 100%;
  opacity: 0;
  animation: moveLeft 1000ms ease-in-out forwards, fadeIn 1000ms ease-in-out forwards;
}

nav a:nth-child(2) {
  position: relative;
  right: 100%;
  opacity: 0;
  animation: moveLeft 1000ms ease-in-out forwards, fadeIn 1000ms ease-in-out forwards;
  animation-delay: 100ms;
}

nav a:nth-child(3) {
  position: relative;
  right: 100%;
  opacity: 0;
  animation: moveLeft 1000ms ease-in-out forwards, fadeIn 1000ms ease-in-out forwards;
  animation-delay: 150ms;
}

nav a:nth-child(4) {
  position: relative;
  right: 100%;
  opacity: 0;
  animation: moveLeft 1000ms ease-in-out forwards, fadeIn 1000ms ease-in-out forwards;
  animation-delay: 200ms;
}

nav a:nth-child(5) {
  position: relative;
  right: 100%;
  opacity: 0;
  animation: moveLeft 1000ms ease-in-out forwards, fadeIn 1000ms ease-in-out forwards;
  animation-delay: 250ms;
}

nav a:nth-child(6) {
  position: relative;
  right: 100%;
  opacity: 0;
  animation: moveLeft 1000ms ease-in-out forwards, fadeIn 1000ms ease-in-out forwards;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes moveRight {
  from {
    left: -100%;
  }

  to {
    left: 0;
  }
}


@keyframes moveLeft {
  from {
    left: 100%;
  }

  to {
    left: 0;
  }
}


nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

nav a i {
  color: var(--primary-text-color);
  padding: 0.75rem;

  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 600;

  text-align: center;
  flex: 1 1 4rem;

  font-size: 2rem;
  color: var(--accent-color);
}

nav button {
  background-color: var(--accent-color);
  font-size: 1.25rem;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 1.875rem;
  color: var(--primary-text-color);
  font-family: var(--ff);
  font-weight: 600;
}

nav>a:before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 0%;
  height: 2px;
  background-color: var(--accent-color);
  transition: all 0.3s ease;
}


nav>a:hover:before {
  width: 100%;
}

nav button:hover,
nav button:focus {
  opacity: 0.8;
  cursor: pointer;
}

#menu-bars {
  display: none;
}

.full-height {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@media (max-width: 1150px) {
  nav>ul {
    position: absolute;
    right: 0;
    height: 85vh;
    top: 15vh;
    background: hsl(0 0% 100% / 0.1);
    backdrop-filter: blur(1rem);
    -webkit-backdrop-filter: blur(1rem);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    transform: translateX(-100%);
    transition: transform 0.5s ease-in;
    z-index: 1;
  }

  nav a:nth-child(-n+5) {
    display: none;
  }

  #menu-bars {
    display: block;
    cursor: pointer;
    color: var(--primary-text-color);
  }
}

@media (max-width: 640px) {
  .main-container {
    padding: 0 20px;
  }

  .logo-text {
    display: none;
  }
}